# Entorno y CORS
APP_ENV="development"
ALLOWED_ORIGINS_DEV="*"

# Base de Datos
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/spellcast_db

# Seguridad / JWT
PRIVATE_SECRET="your-super-secret-key-min-32-chars-long"
ALGORITHM="HS256"

# Cifrado Simétrico (Fernet)
FERNET_KEY="your-base64-encoded-32-byte-fernet-key="

# Almacenamiento AWS (S3)
AWS_BUCKET="your-s3-bucket-name"
AWS_ACCESS_KEY="AKIAIOSFODNN7EXAMPLE"
AWS_SECRET_KEY="wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
AWS_BUCKET_REGION="us-east-1"

# Servicios Azure
AZURE_URL="https://your-resource-name.cognitiveservices.azure.com/"
AZURE_API_KEY="your-azure-api-key-32-hex-characters"
